.CommunityAndNoticeDom{
    display: flex;
    width: 100%;
    
    .width50P {
        width: 50%;
    }
}


.table{
    .thead{
        text-align: center;
        .tableNo{
            width: 5%;
        }
        .talbeTitle{
            width: 35%;
        }
        .tableuserNickname{
            width: 15%;
        }
        .tableregDate{
            width: 20%;
        }
    }
    
}